.ListView__Body__Cell {
  padding: 0px 2px !important;
  border-right: 1px solid #E0E0E0; }
  .ListView__Body__Cell:last-child {
    border-right: 0px; }
  .ListView__Body__Cell__CheckBox {
    padding: 0px 4px !important; }
  .ListView__Body__Cell__Button {
    position: relative;
    z-index: 9999; }
  .ListView__Body__Cell__LinkButton {
    text-transform: capitalize !important; }

.ListView__Body__icon__success {
  color: green; }

.ListView__Body__icon__faild {
  color: #c51c00; }

.ListView__Body__Empty_Cell {
  vertical-align: top !important;
  text-align: center !important;
  font-size: 20px !important; }

.First_Column {
  width: 30px; }
