@import 'src/styles/colors';

.language-selector {
  position: absolute;
  top: 0;

  &__label {
    margin-left: 5px;
  }

  &__img {
    cursor: pointer;
  }

  &__icon {
    color: $green;
  }

  &.right {
    right: 0;

    & > * {
      margin: 0 2.0rem 0 0;
    }
  }

  &.left {
    left: 0;

    & > * {
      margin: 1.5rem 0 0 2.0rem;
    }
  }
}