@import 'src/styles/colors';

.LoadingIndicator {
  height: 100%;
  background: $bgBlackTransparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  &__progress{
    position: absolute;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
  }
}