$primary: #2196F3;
$secondary: #F50057;

$white: #FFFFFF;
$black: #373737;
$mediumBlack: #4a4a4a;

$gray: #E0E0E0;
$darkGray: #646464;
$mediumGray: #979797;
$lightGray: #CACACA;

$bgDarkGray: #F2F2F2;
$bgLightGray: #F6F6F6;

$orange: #FE8622;
$darkOrange: #FE622D;
$flatOrange: #FC4236;

$red: #FF2400;
$darkRed: #c51c00;

$purple: #B71B46;

$green: #2ECC71;
$darkGreen: green;

$bgBlackTransparent: rgba(0, 0, 0, 0.33);
